<div class="container">
  <h1>Holaaaaaaa</h1>
  <p>{{welcome}}</p>
  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{task}}</li>
    }
  </ul>

  <hr>

  <h2>{{'Hola '.repeat(4)}}</h2>
  <p> la suma de 3 + 3 = {{3+3}}</p>
  <p>Hola soy {{name()}} y mi edad es {{age}}</p>

  <hr>

  <img [src]="person().avatar" alt="">

  <button [disabled]="disabled">Click me</button>

  <p>person: {{person().name}}</p>
  <input type="number" [value]="person().age">
  <hr>

  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">double click me</button>

  <hr>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <!-- <p>(keydown)</p>
          <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
          <p>(keydown shift)</p>
          <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()"> -->

  <h2>Signals</h2>
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <p>name: {{person().name}}</p>

  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <p>age: {{person().age}}</p>


  <p>total: {{tasks().length}}</p>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{ i }} - {{task}}</li>
    }
  </ul>

  <hr>

  @if (1 !== 1) {
  <div>
    My contend
  </div>
  }


  @if (person().name === 'nicolas') {
  <div>Soy nicolas</div>
  }

  @if (person().name === 'nicolas') {
  <div>Soy nicolas</div>
  }

  <h2>If else New</h2>
  @if (person().name =='david' && person().age > 18) {
  <div>Soy david y tengo mas de 18 anios</div>
  } @else {
  <div>Soy david y tengo menos de 18 anios</div>
  }

  <h2>If else Old</h2>
  @if (person().name =='david' && person().age > 18) {
  <div>
    Soy david y tengo mas de 18 anios
  </div>
  } @else {
  soy david y tengo menos de 18 anios
  }

  <hr>
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div>
    @switch (person().name) {
    @case ('nicolas') {
    <p>Yo soy nicolas</p>
    }
    @case ('david') {
    <p>Yo soy david</p>
    }
    @case ('susan') {
    <p>Yo soy susan</p>
    }
    @case ('ana') {
    <p>Yo soy ana</p>
    }
    @case ('valentina') {
    <p>Yo soy valentina</p>
    }
    @default {
    <p>Yo soy nadie</p>
    }
    }
  </div>

  <hr>
  <input type="color" [formControl]="colorControl">
  <p> color: {{colorControl.value}}</p>

  <hr>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="200" [attr.fill]="colorControl.value"></rect>
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthControl">
  <span class="box" [style.width.px]="widthControl.value"></span>

  <hr>
  <p>
    <input type="text" [formControl]="nameControl"> <br>
    <span class="message-error" [class.show]="nameControl.invalid && nameControl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>

  <h2>for old</h2>
  <ul>
    <p>total: {{tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{ i }} - {{task}}</li>
    }
  </ul>

  <h2>For new</h2>
  <p>total: {{tasks().length}}</p>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}} - {{task}}
    </li>
    } @empty {
    <li><strong>la lista esta en vacio</strong></li>
    }
  </ul>

  <h2>switch old</h2>
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div>
    @switch (person().name) {
    @case ('nicolas') {
    <p>Yo soy nicolas</p>
    }
    @case ('david') {
    <p>Yo soy david</p>
    }
    @case ('susan') {
    <p>Yo soy susan</p>
    }
    @case ('ana') {
    <p>Yo soy ana</p>
    }
    @case ('valentina') {
    <p>Yo soy valentina</p>
    }
    @default {
    <p>Yo soy nadie</p>
    }
    }
  </div>

  <h2>switch new</h2>
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  @switch (person().name) {
  @case ('nicolas') { <p>Yo soy Nicolas</p> }
  @case ('david') { <p>Yo soy david</p> }
  @case ('susan') { <p>Yo soy susan</p> }
  @case ('ana') { <p>Yo soy ana</p> }
  @case ('valentina') { <p>Yo soy valentina</p> }
  @default { <p>Yo soy nadie</p> }
  }

</div>
